In [3]:
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import os
from pathlib import Path

PROJECT_ROOT = Path(os.environ["PROJECT_ROOT"])
from auxiliary.static_data import *
from auxiliary.auxiliary_funcs import *

df_test = pd.read_csv("test.csv")
df_sample_submission = pd.read_csv("sample_submission.csv")
df_city_indexes = pd.read_csv(os.path.join(PROJECT_ROOT, "train", "city_indexes.csv"))
df_city_search_index = pd.read_csv(
    os.path.join(PROJECT_ROOT, "train", "city_search_index.csv")
)
df_land_transactions_nearby_sectors = pd.read_csv(
    os.path.join(PROJECT_ROOT, "train", "land_transactions_nearby_sectors.csv")
)
df_land_transactions = pd.read_csv(
    os.path.join(PROJECT_ROOT, "train", "land_transactions.csv")
)
df_new_house_transactions_nearby_sectors = pd.read_csv(
    os.path.join(PROJECT_ROOT, "train", "new_house_transactions_nearby_sectors.csv")
)
df_new_house_transactions = pd.read_csv(
    os.path.join(PROJECT_ROOT, "train", "new_house_transactions.csv")
)
df_pre_owned_house_transactions_nearby_sectors = pd.read_csv(
    os.path.join(
        PROJECT_ROOT, "train", "pre_owned_house_transactions_nearby_sectors.csv"
    )
)
df_pre_owned_house_transactions = pd.read_csv(
    os.path.join(PROJECT_ROOT, "train", "pre_owned_house_transactions.csv")
)
df_sector_POI = pd.read_csv(os.path.join(PROJECT_ROOT, "train", "sector_POI.csv"))

# Study test set

In [4]:
df_test

                      id  new_house_transaction_amount
0      2024 Aug_sector 1                           NaN
1      2024 Aug_sector 2                           NaN
2      2024 Aug_sector 3                           NaN
3      2024 Aug_sector 4                           NaN
4      2024 Aug_sector 5                           NaN
...                  ...                           ...
1147  2025 Jul_sector 92                           NaN
1148  2025 Jul_sector 93                           NaN
1149  2025 Jul_sector 94                           NaN
1150  2025 Jul_sector 95                           NaN
1151  2025 Jul_sector 96                           NaN

[1152 rows x 2 columns]

# Study submission file

In [5]:
df_sample_submission_play = df_sample_submission.copy()

df_sample_submission_play["yr"] = df_sample_submission_play["id"].apply(func_str_to_yr)
df_sample_submission_play["month"] = df_sample_submission_play["id"].apply(
    func_str_to_month
)
df_sample_submission_play["sector"] = df_sample_submission_play["id"].apply(
    func_str_to_sector
)

### The conclusion is that the submission goes from Aug 2024 to Jul 2025. The sectors are from 1 to 96

In [6]:
df_sample_submission_play[["yr", "month"]].value_counts()

yr    month
2024  8        96
      9        96
      10       96
      11       96
      12       96
2025  1        96
      2        96
      3        96
      4        96
      5        96
      6        96
      7        96
Name: count, dtype: int64

In [4]:
df_sample_submission_play["sector"].value_counts()

sector
1     12
2     12
71    12
70    12
69    12
      ..
30    12
29    12
28    12
27    12
96    12
Name: count, Length: 96, dtype: int64

In [7]:
print(96 * 12)
print(len(df_sample_submission_play))
# The submission has 1152 rows, which is 96 sectors * 12 months

1152
1152