In [8]:
import pandas as pd
import os
from pathlib import Path

PROJECT_ROOT = Path(os.environ["PROJECT_ROOT"])
from auxiliary.static_data import *
from auxiliary.auxiliary_funcs import *
from auxiliary.impute_missing_values import df_new_house_transactions

In [9]:
train_folder = PROJECT_ROOT / "train"
land_transactions_path = train_folder / "land_transactions_imputed.csv"
land_transactions_nearby_sectors_path = (
    train_folder / "land_transactions_nearby_sectors_imputed.csv"
)

df_land_transactions = pd.read_csv(land_transactions_path)
df_land_transactions_nearby_sectors = pd.read_csv(land_transactions_nearby_sectors_path)

In [14]:
df_land_transactions["transaction_amount_so_far"] = (
    df_land_transactions.groupby("sector_num")["transaction_amount"].cumsum()
)

In [24]:
df_merged = pd.concat([df_new_house_transactions, df_land_transactions.drop(
    columns=['sector_num', 'sector', 'yr', 'm', 'month'])], axis=1)

In [28]:
df_merged['transaction_amount_so_far_one_year_ago'] = df_merged['transaction_amount_so_far'].shift(96)

In [29]:
df_merged[['new_house_transaction_amount',
'transaction_amount_so_far','transaction_amount_so_far_one_year_ago']].corr()

,new_house_transaction_amount,transaction_amount_so_far,transaction_amount_so_far_one_year_ago
new_house_transaction_amount,1.000000,0.378150,0.369573
transaction_amount_so_far,0.378150,1.000000,0.994205
transaction_amount_so_far_one_year_ago,0.369573,0.994205,1.000000

todo: make a run using transaction_amount_so_far_one_year_ago as one of the features.