In [1]:
import pandas as pd
import os
from pathlib import Path

PROJECT_ROOT = Path(os.environ["PROJECT_ROOT"])
from auxiliary.static_data import *
from auxiliary.auxiliary_funcs import *
from auxiliary.impute_missing_values import df_new_house_transactions

Added 999 missing rows. Final shape: (6432, 13)

In [24]:
df_new_house_transactions[
    "new_house_transaction_amount_one_year_ago"
] = df_new_house_transactions["new_house_transaction_amount"].shift(12 * 96)

df_new_house_transactions[
    "new_house_transaction_amount_one_month_ago"
] = df_new_house_transactions["new_house_transaction_amount"].shift(96)


df_new_house_transactions[
    "num_new_house_transactions_one_year_ago"
] = df_new_house_transactions["num_new_house_transactions"].shift(12 * 96)
df_new_house_transactions[
    "area_new_house_transactions_one_year_ago"
] = df_new_house_transactions["area_new_house_transactions"].shift(12 * 96)
df_new_house_transactions[
    "price_new_house_transactions_one_year_ago"
] = df_new_house_transactions["price_new_house_transactions"].shift(12 * 96)
df_new_house_transactions[
    "area_per_unit_new_house_transactions_one_year_ago"
] = df_new_house_transactions["area_per_unit_new_house_transactions"].shift(12 * 96)
df_new_house_transactions[
    "total_price_per_unit_new_house_transactions_one_year_ago"
] = df_new_house_transactions["total_price_per_unit_new_house_transactions"].shift(
    12 * 96
)
df_new_house_transactions[
    "num_new_house_available_for_sale_one_year_ago"
] = df_new_house_transactions["num_new_house_available_for_sale"].shift(12 * 96)
df_new_house_transactions[
    "area_new_house_available_for_sale_one_year_ago"
] = df_new_house_transactions["area_new_house_available_for_sale"].shift(12 * 96)
df_new_house_transactions[
    "period_new_house_sell_through_one_year_ago"
] = df_new_house_transactions["period_new_house_sell_through"].shift(12 * 96)

In [11]:
# Add sector_num column for sorting
df_new_house_transactions["sector_num"] = (
    df_new_house_transactions["sector"].str.extract("(\d+)").astype(int)
)

sector = 20
yr = 2024
m = 5

print(
    df_new_house_transactions.loc[
        (df_new_house_transactions["sector_num"] == sector)
        & (df_new_house_transactions["yr"] == yr)
        & (df_new_house_transactions["m"] == m)
    ]["new_house_transaction_amount_one_year_ago"]
)

print(
    df_new_house_transactions.loc[
        (df_new_house_transactions["sector_num"] == sector)
        & (df_new_house_transactions["yr"] == yr - 1)
        & (df_new_house_transactions["m"] == m)
    ]["new_house_transaction_amount"]
)

6163    10005.9
Name: new_house_transaction_amount_one_year_ago, dtype: float64
5011    10005.9
Name: new_house_transaction_amount, dtype: float64

In [13]:
df_new_house_transactions.columns

Index(['month', 'sector', 'num_new_house_transactions',
       'area_new_house_transactions', 'price_new_house_transactions',
       'new_house_transaction_amount', 'area_per_unit_new_house_transactions',
       'total_price_per_unit_new_house_transactions',
       'num_new_house_available_for_sale', 'area_new_house_available_for_sale',
       'period_new_house_sell_through', 'yr', 'm',
       'new_house_transaction_amount_one_year_ago', 'sector_num'],
      dtype='object')

In [26]:
df_new_house_transactions[
    [
        "new_house_transaction_amount",
        "new_house_transaction_amount_one_month_ago",
        "new_house_transaction_amount_one_year_ago",
        "area_new_house_transactions_one_year_ago",
        "num_new_house_transactions_one_year_ago",
        "num_new_house_available_for_sale_one_year_ago",
        "area_new_house_available_for_sale_one_year_ago",
        "price_new_house_transactions_one_year_ago",
        "area_per_unit_new_house_transactions_one_year_ago",
        "total_price_per_unit_new_house_transactions_one_year_ago",
        "period_new_house_sell_through_one_year_ago",
    ]
].corr()[["new_house_transaction_amount", "new_house_transaction_amount_one_month_ago"]]

,new_house_transaction_amount,new_house_transaction_amount_one_month_ago
new_house_transaction_amount,1.000000,0.701105
new_house_transaction_amount_one_month_ago,0.701105,1.000000
new_house_transaction_amount_one_year_ago,0.505079,0.456335
area_new_house_transactions_one_year_ago,0.490274,0.452053
num_new_house_transactions_one_year_ago,0.474439,0.437418
num_new_house_available_for_sale_one_year_ago,0.428416,0.437957
area_new_house_available_for_sale_one_year_ago,0.434324,0.443837
price_new_house_transactions_one_year_ago,0.103157,0.098494
area_per_unit_new_house_transactions_one_year_ago,0.066236,0.062947
total_price_per_unit_new_house_transactions_one_year_ago,0.026123,0.024487
period_new_house_sell_through_one_year_ago,-0.056445,-0.057924